


.catalog {
  padding-top: 20px;
}
.cardBox {
  position: relative;
  width: 490px;
  display: flex;
  &:hover {
    background-color: rgba(92, 110, 243, 0.399);
    color: white;
    cursor: pointer;
    .more {
      color: white;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -5px;
    width: 5px; /* Ширина смуги */
    height: 100%; /* Висота, щоб вона розтягувалася на весь висоту блоку */
    background-color: rgba(0, 179, 255, 0.297); /* Колір смуги */
    z-index: -1; /* Щоб смуга була під вмістом .cardBox */
  }
}
.cardList {
  width: 330px;
  padding: 15px 20px;
}
.imgCatalog {
  width: 160px;
}
.serias {
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 0 30px;
}
.more {
    position: relative;
    text-decoration: none;
    color: black;
    &:hover {
        color: rgb(237, 21, 21);
      &::after {
        content: '';
        position: absolute;
        bottom: 0px; /* Щоб лінія була трохи вище від тексту */
        left: 0;
        width: 100%;
        height: 2px; 
        // background-color:rgb(234, 16, 16); /* Колір лінії */
      }
    }
  
    &::after {
      content: '>';
      position: absolute;
      left: -15px;
      bottom: 0;
      z-index: -1;
      color: black;
    }
    
  }
