.catalog {
    display: flex;
    padding-top: 25px;
  }
  
  .leftBar {
   width: 40%;
  }
  
.rightBar {
    width: 60%; /* або будь-який інший розмір, який вам підходить */
    margin: 0 auto; /* це центрує ваш контейнер на сторінці */
    
  }
  
 