.penalBox{
    
    padding-top: 20px;
}
.titlePenal{
    font-family: 'Gothic A1', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    position: relative;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform: uppercase;
}
.textPenal{
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    // line-height: 46px;
    font-weight:300;
    position: relative;
    letter-spacing: 1.6px;
    // text-align: center;
    // text-transform: uppercase;
}