.col {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100px;
  margin-bottom: 65px;
  @media screen and (max-width: 768px) {
 
    margin-right: 90px;
  }
  @media screen and (max-width: 480px) {
    margin-right: 30px;
  }
  &:hover {
    cursor: pointer;
    .doorimg {
      transform: scale(1.2);
    }
    .doorbtn {
      background-color: rgb(131, 127, 127);
      color: white;
    }
    .doorbtnq {
      background-color: rgb(131, 127, 127);
      color: white;
    }
    
  }
 
}
.doorimg {
  // width: 100%;
  transition: 1s;
}
.doorbtnq {
  position: absolute;
  bottom: -14%;
  left: 40%;
  background-color: rgba(250, 235, 215, 0);
  padding: 10px 15px;
  border: 3px solid black;
  font-weight: 700;
  font-size: 21px;
  @media screen and (max-width: 480px) {
    font-weight: 600;
    font-size: 15px;
    padding: 5px 10px;
    bottom: -14%;
    left: 35%;
  }
}
.doorbtn {
  position: absolute;
  bottom: -14%;
  left: 36%;
  background-color: rgba(250, 235, 215, 0);
  padding: 10px 15px;
  border: 3px solid black;
  font-weight: 700;
  font-size: 21px;
  @media screen and (max-width: 480px) {
    font-weight: 600;
    font-size: 15px;
    padding: 5px 10px;
    bottom: -14%;
    left: 30%;
  }
}

.doorbtn:hover,
.doorbtnq:hover {
  background-color: rgb(101, 99, 99);
  color: white;
}
