
.herobox{
  @media screen and (max-width: 480px) { /* Адаптація для планшетів */
  width: 390px;
  }
  position: relative;
  z-index: 99;
}
.bgHero {
  
  position: absolute;
  width: 100vw;
  top: 85px;
  left: 0px;
  height: 700.617px;
  background: linear-gradient(
    109.6deg,
    rgb(44, 44, 45) 11.2%,
    rgb(126, 124, 124) 91.1%
  );
  @media screen and (max-width: 768px) { /* Адаптація для планшетів */
  
    display: none;
  }
}


